<script>
STATIC_CHART_DATA = <%=@staticdata%>;
google.setOnLoadCallback(function() {

  //initialize!
  YUI().use('bmp-page-artistclasses', function(Y) {
    Y.BMP.Page.ArtistClasses.initializePage();
  });

});
</script>

<div class="page-artistclasses container">

  <h1>Define &ldquo;Artist.&rdquo;</h1>

  <p class="lead">Using the U.S. Census Bureau's <i>American Community Survey</i> Microdata from 2009-2011 (processed by IPUMS), BFAMFAPhD found data about &ldquo;artists&rdquo; by looking at &ldquo;field of degree&rdquo; or &ldquo;primary occupation.&rdquo; In this report, an &ldquo;artist&rdquo; is someone with an arts degree (see below for degrees we include) or someone who makes a living in the arts.</p>

  <div class="section occupation">
    <h2>If we define artist by primary occupation, there are 1.3M artists in the US.</h2> 
    <div class="row">
    <div class="classes-chart-wrapper"></div>
    
    <div class="text">
      <h4>We included the following primary occupations in our Report:</h4>
        <ul>
          <li>Photographers</li>
          <li>Writers and authors</li>
          <li>Entertainers and performers, sports and related workers, all other</li>
          <li>Musicians, singers, and related workers</li>
          <li>Dancers and choreographers</li>
          <li>Producers and directors</li>
          <li>Actors</li>
          <li>Artists and related workers</li>
          <li>Television, video, and motion picture camera operators and editors</li>
        </ul>

        <h4>We plan to include architects and designers in our next Report:</h4>
          <ul>
          <li>Designers</li>
          <li>Architects (except naval)</li>
        </ul>

        <h4>Other related cultural producers:</h4>

        <ul>
          <li>Broadcast and sound engineering technicians and radio operators, and media and communication equipment workers, all other</li>
          <li>Miscellaneous media and communication workers</li>
          <li>Editors</li>
          <li>Archivists, curators, and museum technicians</li>
        </ul>
      </div>

    </div>

    <div class="occp-chart-wrapper"></div>
  </div>


  <div class="section degree">
    <h2>If we define artist by bachelors degree, there are 1.9M artists in the US.</h2>
    <h4>The <i>American Community Survey</i> records respondent's Bachelor's degrees. 
      The following are the arts degrees recorded:</h4>

      <ul class="sr-only">
        <li>Fine Arts</li>
        <li>Drama And Theater Arts</li>
        <li>Music</li>
        <li>Visual And Performing Arts</li>
        <li>Commercial Art And Graphic Design</li>
        <li>Film Video And Photographic Arts</li>
        <li>Art History And Criticism</li>
        <li>Studio Arts</li>
        <li>Miscellaneous Fine Arts</li>
      </ul>
      <div class="chart-wrapper"></div>
  </div> <!-- end col wrapper -->


</div>
