<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-artistclasses', function(Y) {
      Y.BMP.Page.ArtistClasses.initializePage();
    });

  });
</script>

<div class="page-artistclasses container">

  <h1>Define &ldquo;Artist.&rdquo;</h1>


  <div class="section occupation">
    <h2>By occupation</h2> 
    <div class="row">
    <div class="classes-chart-wrapper"></div>
    
    <div class="text">
      <h4>BFAMFAPhD defines <span class="keyword artist">Artist</span> by these primary occupations:</h4>
        <ul>
          <li>Photographers</li>
          <li>Writers and authors</li>
          <li>Entertainers and performers, sports and related workers, all other</li>
          <li>Musicians, singers, and related workers</li>
          <li>Dancers and choreographers</li>
          <li>Producers and directors</li>
          <li>Actors</li>
          <li>Artists and related workers</li>
        </ul>

        <h4>We also recognize these other groups of creative occupations, but don&rsquo;t include them in calculations.</h4>
        <h5>We define the <span class="keyword creative-class">Creative Class</span> as:</h5>

        <ul>
          <li>Designers</li>
          <li>Architects (except naval)</li>
        </ul>

        <h5>And <span class="keyword other-related-artists">Other Related Artists</span>, who we also exclude:</h5>

        <ul>
          <li>Television, video, and motion picture camera operators and editors</li>
          <li>Broadcast and sound engineering technicians and radio operators, and media and communication equipment workers, all other</li>
          <li>Miscellaneous media and communication workers</li>
          <li>Editors</li>
          <li>Archivists, curators, and museum technicians</li>
        </ul>
      </div>

    </div>

    <div class="occp-chart-wrapper"></div>
  </div>


  <div class="section degree">
    <h2>By reported degree field</h2>
    <h4>The <i>American Community Survey</i> records respondent's Bachelor's degrees. 
      The following are the arts degrees recorded.</h4>

      <ul class="sr-only">
        <li>Fine Arts</li>
        <li>Drama And Theater Arts</li>
        <li>Music</li>
        <li>Visual And Performing Arts</li>
        <li>Commercial Art And Graphic Design</li>
        <li>Film Video And Photographic Arts</li>
        <li>Art History And Criticism</li>
        <li>Studio Arts</li>
        <li>Miscellaneous Fine Arts</li>
      </ul>
      <div class="chart-wrapper"></div>
  </div>

  </div> <!-- end col wrapper -->

</div>
