<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-artistclasses', function(Y) {
      Y.BMP.Page.ArtistClasses.initializePage();
    });

  });
</script>

<div class="page-artistclasses container">

  <h1>Define artist.</h1>

  <div class="col-wrapper">
  <div class="main-chart-wrapper"></div>
  
  <p>
    How do you define &lcquo;Artist&rcquo;? BFAMFAPhD defines artist by these primary occupations:
    <ul>
      <li>Photographers</li>
      <li>Writers and authors</li>
      <li>Entertainers and performers, sports and related workers, all other</li>
      <li>Musicians, singers, and related workers</li>
      <li>Dancers and choreographers</li>
      <li>Producers and directors</li>
      <li>Actors</li>
      <li>Artists and related workers</li>
    </ul>
  </div>

</div>
