
<div class="nav-container invert">
  <nav class="container ">
    <div class="left">
      <div class="main-title">BFAMFAPhD</div>
      <a class="home-link" href="http://bfamfaphd.com"><span class="icon glyphicon glyphicon-home"></span>Project Home</a>
    </div>
    <div class="page-chooser">
      <span class="dropdown-wrapper"></span>
    </div>
    <div class="right">Census Report</div>
  </nav>
</div>
<script>
  //initialize!
  YUI().use('event-base', 'event', 'bmp-page-main-nav', function(Y) {
    Y.on('domready', function() {
      Y.BMP.Page.MainNav.initializePage();
    })
  });
</script>