<footer class="main-footer container">
  <strong>Note: </strong>This Report has been produced by BFAMFAPhD contributors Julian Boilen and Vicky Virgin and edited by Caroline Woolard without pay. If you would like to donate money to our collective, please email us at: <a href="mailto:info@bfamfaphd.com">info@bfamfaphd.com</a>.
</footer>