<footer class="main-footer container">
  <p>This Report has been produced by <strong>Julian Boilen</strong> with assistance from data analyst Vicky Virgin and edited by New York artist and organizer Caroline Woolard.</p> 
  <p><strong>Note: </strong>This report was created without pay or compensation for the technical expenses that keep this site running. If you would like to donate money to our collective, please email us at: <a href="mailto:info@bfamfaphd.com">info@bfamfaphd.com</a>.</p>
</footer>