<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-rentburden', function(Y) {
      Y.BMP.Page.RentBurden.initializePage();
    });

  });
</script>
<div id="defineArtistModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <iframe src="/artistclasses" style="zoom:0.60" width="99.6%" height="30000" frameborder="0"></iframe> -->
      </div>
    </div>
  </div>
</div>
<div class="page-rentburden container">
  <!-- <h1>Explore Rent Burden</h1> -->
  <p class="main-description lead">This shows the <b>rent burdens*</b> of artists in comparison to other people living in New York City. Filter the data to see rent burdens for different groups.</p>

  <div class="chart-and-comparison-controls">
    <div class="main-chart-wrapper"></div>

    <div class="comparison-controls">
      <h2>Compare</h2>
      <div class="comparison-chooser btn-group btn-group-vertical" data-toggle="buttons" >
         <label class="btn btn-primary active">
          <input type="radio" name="compareon" value="occp_artist_class">Art Occupation vs. All People
        </label>

        <label class="btn btn-primary">
          <input type="radio" name="compareon" value="fod1p"> Degree in Art vs. Other Degree 
        </label>
      </div>
      <a class="define-artist" href="/artistclasses">How do we define &ldquo;artist&rdquo;?</a>

      <div class="key">
        <dl class="">
        <!-- <dt>Rent Burden</dt><dd>Rent as a percent of total household income</dd> -->
        <dt>*Rent Burdened</dt><dd>Paying between 30% and 50% of household income on rent</dd>
        <dt>Severely Rent Burdened</dt><dd>Paying more than half of household income on rent</dd>
      </dl>
        <cite>U.S. Census Bureau, American Community Survey Microdata 2010-2012</cite>
      </div>
    </div>
  </div>


  <h2>But show only&hellip;</h2>

  <div class="filter-controls">

    <div class="filter filter-gender btn-group btn-group-vertical" data-toggle="buttons" data-filter-var="sex">
      <label class="btn btn-default active">
        <input type="radio" name="sex" value="-1" checked> Either
      </label>

      <label class="btn btn-default">
        <input type="radio" name="sex" value="1"> Male
      </label>

      <label class="btn btn-default">
        <input type="radio" name="sex" value="2"> Female
      </label>
    </div>

    <div class="filter filter-boro btn-group btn-group-vertical" data-toggle="buttons" data-filter-var="boro">
      <label class="btn btn-default active">
        <input type="radio" name="boro" value="-1" checked> All NYC
      </label>

      <label class="btn btn-default">
        <input type="radio" name="boro" value="1"> The Bronx
      </label>

      <label class="btn btn-default">
        <input type="radio" name="boro" value="2"> Brooklyn
      </label>

      <label class="btn btn-default">
        <input type="radio" name="boro" value="3"> Manhattan
      </label>

      <label class="btn btn-default">
        <input type="radio" name="boro" value="4"> Queens
      </label>

      <label class="btn btn-default">
        <input type="radio" name="boro" value="5"> Staten Island
      </label>
    </div>
    
    <div class="filter filter-ethnicity btn-group btn-group-vertical" data-toggle="buttons" data-filter-var="ethnicity">
      <label class="btn btn-default active">
        <input type="radio" name="ethnicity" value="-1" checked> Any
      </label>

      <label class="btn btn-default">
        <input type="radio" name="ethnicity" value="1"> White
      </label>

      <label class="btn btn-default">
        <input type="radio" name="ethnicity" value="2"> Black
      </label>

      <label class="btn btn-default">
        <input type="radio" name="ethnicity" value="3"> Asian
      </label>

      <label class="btn btn-default">
        <input type="radio" name="ethnicity" value="4"> Hispanic
      </label>
    </div>

    <div class="filter filter-schl btn-group btn-group-vertical" data-toggle="buttons" data-filter-var="SCHL">
      <label class="btn btn-default active">
        <input type="radio" name="schl" value="-1" checked> Any
      </label>

      <label class="btn btn-default">
        <input type="radio" name="schl" value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15"> Less than High School
      </label>

      <label class="btn btn-default">
        <input type="radio" name="schl" value="16"> Completed High School
      </label>

      <label class="btn btn-default">
        <input type="radio" name="schl" value="17,18,19,20"> Some College
      </label>

      <label class="btn btn-default">
        <input type="radio" name="schl" value="21,22,23,24"> BS or higher
      </label>
    </div>
  </div>
</div>
