<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-school-to-work', function(Y) {
      Y.BMP.Page.SchoolToWork.initializePage();
    });

  });
</script>

<div class="page-school-to-work container">
<!-- <h1>Explore Art School &amp; Occupation</h1> -->
<p class="main-description lead">What do artists do for a living? This shows the relationship between
<strong>an arts degree and a job</strong> for people living in New York City. Scroll down to see links between arts degrees (on the left) and jobs (on the right).</p>

<div>
<label>Choose a single major for a clearer picture of where students go after getting an art degree.</label>
<div class="fod1p-filter-wrapper"></div>
</div>

<div class="summary-wrapper"></div>

<div class="main-chart-wrapper"></div>
<div class="disclaimer"><em>Note:</em> Small categories have small sample sizes, so should not be used to make statistically significant conclusions.</div>
</div>