<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-school-to-work', function(Y) {
      Y.BMP.Page.SchoolToWork.initializePage();
    });

  });

  CODES_TO_CITIES = <%=@cities_to_codes.invert.to_json%>
</script>

<div class="page-school-to-work container">
<!-- <h1>Explore Art School &amp; Occupation</h1> -->
<p class="main-description lead">What do artists do for a living? This shows the relationship between
<strong>an arts degree and a job</strong> for people living in <span class="location-name">the United States</span>. Scroll down to see links between arts degrees (on the left) and jobs (on the right).</p>

<div id="controls">  
  <div>
    <label>Choose a major city.</label>
    <select name="city" id="filter-city" class="form-control">
      <option value="-1">All USA</option>
      <% @cities_to_codes.each do |name, code| %>
      <option value="<%=code%>"><%=name%></option>
      <% end %>
    </select>
  </div>

  <div>
    <label>Filter to a single major.</label>
    <div class="fod1p-filter-wrapper"></div>
  </div>
</div>

<div class="summary-wrapper"></div>

<div class="main-chart-wrapper"></div>

<p class="disclaimer"><em>Note:</em> Small categories have small sample sizes, so should not be used to make statistically significant conclusions.</p>

<p><i>Miscellaneous</i> includes occupations with very few respondents. Those occupations may include:</p>
<ul class="other-list"></ul>
</div>