<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-school-to-work', function(Y) {
      Y.BMP.Page.SchoolToWork.initializePage();
    });

  });
</script>

<div class="page-school-to-work container">
<h1>Explore Art School &amp; Occupation</h1>
<p class="main-description lead">This is a chart of people in New York City who studied art, showing <strong>their major on the left</strong>, and <strong>primary occupation on the right.</strong></p>

<div>
<label>Choose a single major for a clearer picture of where students go after getting an art degree.</label>
<div class="fod1p-filter-wrapper"></div>
</div>

<div class="summary-wrapper"></div>
<div class="main-chart-wrapper"></div>