<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-selfreport', function(Y) {
      Y.BMP.Page.SelfReport.initializePage();
    });

  });
</script>

<div class="page-selfreport container">
<!-- <h1>Explore You</h1> -->

<section class="selfreport">
<h1 class="main-description lead">Add your project.</h1>
<small><strong>All fields are optional.</strong></small>

<form>
  My name is
  <input type="text" name="name" autocapitalize="words">, and
  I made 
  <input type="text" name="project_description" placeholder="a project" autocapitalize="off">
  while renting a 
  <input type="text" name="space_type" placeholder="art studio / desk / apartment / rehearsal space" autocapitalize="off">
  in 
  <input type="text" size="7" name="space_zip" maxlength="5" minlength="5" placeholder="zip code">
  for
  <input type="number" size="4" name="space_price_amount" placeholder="$">
  <select name="space_price_time_unit" id="">
    <option value="month">per month</option>
    <option value="day">per day</option>
    <option value="hour">per hour</option>
    <option value="">one time</option>
  </select>
  in
  <input type="number" size="7" name="project_year" placeholder="year" maxlength="4">
  .<br/>
  You can see/hear/read it at
  <input type="text" name="project_url" placeholder="example.com" autocapitalize="off" autocorrect="off">.

  <button type="button" class="submit">Add Project</button>
  <div class="clearfix"></div>
</form>
</section>

<section class="reports">
</section>
