.bmp-animated-number {
  & > * {
    .transition(font 1s);
  }

  .transition(color 0.5s);

  &.loading {
    color: @gray-light;

    .loading-spinner {
      // float: right;
      display: inline-block;
      background-image: url('/images/spinner-16.gif');
      width: 16px;
      height: 16px;
      position: absolute;
      right: 25%;
      top: calc(~"50% -" 16px / 2);
    }
  }

  &.load-failed {
    color: @brand-danger;
  }

  &.has-errors {
    color: @brand-warning;
  }


}